.mt-15
{
    margin-top: 15px;
}
.mt-30
{
    margin-top: 30px;
}
.mt-50
{
    margin-top: 50px;
}
.mt-70
{
    margin-top: 70px;
}
.mb-15
{
    margin-bottom: 15px;
}
.mb-30
{
    margin-bottom: 15px;
}
.mb-50
{
    margin-bottom: 50px;
}
.pb-50
{
    padding-bottom: 50px;
}
body
{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Poppins', sans-serif;
}
.headerStrip
{
    height:20px;
    background-color: #60b3ed;
    width: 100%;
}
button:focus
{
    outline: none !important;
}
// Varibles

$blueColor:#1C93E6;
$cyanColor:#1ED2C8;
$pinkColor:#f60a7c;
.navbar-light 
{
    .navbar-nav
    {
        
        .nav-item
        {
            padding-top:25px;
            padding-bottom:15px;
            padding-left:10px;
            padding-right:10px;
            .nav-link {
                color:#233772;
                background-color: transparent;
                border-radius: 5px;
                &:hover{
                    color:#fff;
                    background-color: #60b3ed;
                    
                }
            }
        }
    }
}

.bannerBg
{
    background-image: url('/img/banner_Bg.png');
    height: 550px;
    overflow: hidden;
    h1
    {
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        text-align: left;
        color:#000;
        text-transform: uppercase;
        padding-top:20%;
        span
        {
            color:$pinkColor;
        }
    }
    .btn
    {
        background-color:$pinkColor;
        height:auto;
        line-height: 50px;
        color:#fff;
        width:400px;
        border-radius:10px;
        text-transform: uppercase;
        font-size: 27px;
    }
    p
    {
        font-size:20px;
        color:#233772;
    }
    .owl-theme {
        .owl-dots {
            .owl-dot {
                span {
                    width: 15px;
                    height: 15px;
                    margin: 5px 7px;
                    background: transparent;
                    border:1px solid $pinkColor;
                    display: block;
                    -webkit-backface-visibility: visible;
                    transition: opacity 200ms ease;
                    border-radius: 30px;
                }
            }
        }
    }
}
.overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.ourWorkingProcess
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .outerCircl
    {
        background-color: #d2e9fa;
        width:150px;
        height: 150px;  
        border-radius: 100px;
        margin:auto;
        .innerCircle
        {
            background-color: $blueColor;  
            width:110px;
            height: 110px;  
            border-radius: 100px;
            .fas
            {
                color:#fff;
                font-size:40px;
            }
        }
    }
    h4
    {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:20px;
        font-weight: 600;
    }
    p
    {
        
        font-size: 14px;
        text-align: center;
        margin-top:10px;
    }
}
.AllYouNeed
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .GreenArea
    {
        background-color: $cyanColor;
        h3
        {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            text-align: left;
            color:#fff;
            text-transform: uppercase;
            margin-top:20px;
            font-weight: 600;
        }
        p
        {
            
            font-size: 16px;
            text-align: justify;
            margin-top:10px;
            color: #fff;
        }
    }
}

.ourTrustedPartners
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .obj
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #0000001A;
        border-radius: 5px;
        opacity: 1;
        width:200px;
        height: 150px;
        display: block;
        margin:auto;
        img
        {
            width:50%;
            display: block;
            margin:auto;
            margin-top:30px;
        }
    }
    .owl-carousel
    {
        .owl-prev,
        .owl-next 
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width:25px;
            height: 25px;
        }
        .owl-prev
        {
            left: -2rem;
        }
        .owl-next 
        {
            right: -2rem;
        }
        
    }
    .owl-carousel {
        .owl-nav {
            button.owl-prev {
                background: transparent;
                border:1px solid $pinkColor;
                color: $pinkColor;
                border-radius:100px;
            }
            button.owl-next {
                background: transparent;
                border:1px solid $pinkColor;
                color: $pinkColor;
                border-radius:100px;
                span
                {
                    
                }
            }
        }
        button.owl-dot {
            background: transparent;
            border:1px solid $pinkColor;
            color: $pinkColor;
            border-radius:100px;
            
        }
    }
    
}

.WhyChooseUs
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .LightgreenBG
    {
        background-color: #F0F5F7;
        padding-top:20px;
        padding-bottom:20px;
        
        img
        {
            border:3px solid #fff;
        }
        .txtArea
        {
            background-color: #fff;
            border-radius:0px 50px 50px 0px;
            margin-top:20px;
            padding-left:15px;
            padding-top:15px;
            padding-bottom:10px;
            
            h4
            {
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                color:$pinkColor;
                text-transform: uppercase;
            }
            p
            {
                
                font-size: 14px;
                color:#000000;
                
            }
        }
    }
}

.TrendingPlans
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .blueBG
    {
        background-color: $blueColor;
        padding-top:20px;
        padding-bottom:20px;
        .contentArea
        {
            width:100%;
            min-height:230px;
            height:auto;
            background-color: #fff;
            border-radius:10px;
            margin:auto;
            .imgArea
            {
                width:40%;
                float:left;
                min-height:230px;
                height:auto;
                img
                {       
                    margin-top:40%;
                    width:70%;
                    margin-left:20px;
                }
            }
            strong
            {
                text-align: left;
                font-size:14px;
                letter-spacing: 0px;
                color: #1C93E6;
                text-transform: uppercase;
                display: block;  
                padding-top:35px;
            }
            p
            {
                text-align: left;
                font-size:12px;
                color: #000000;
            }
            .btn1
            {
                background-color:$cyanColor;
                height:auto;    
                color:#fff;
                border-radius:5px;
                text-transform: uppercase;
                font-size: 12px;
                position: absolute;
                right:10px;
                bottom:10px;
                &:hover
                {
                    background-color:transparent;
                    height:auto;    
                    color:$cyanColor;
                    border:1px solid $cyanColor;
                }
            }
            .btn2
            {
                background-color:$pinkColor;
                height:auto;    
                color:#fff;
                border-radius:0px 5px 0px 5px;
                text-transform: uppercase;
                font-size: 12px;
                position: absolute;
                right:0px;
                top:0px;
            }
        }
    }
    
}
.FAQs
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .accordion {
        .card
        {
            background-color: #fff;
            border: none;
            border-bottom-style: solid;
            border-bottom-color: #999;
            border-bottom-Width: 1px;
        }
        .card-header {
            &:after {
                font-family: 'FontAwesome';
                content: "\f068";
                float: right;
            }
            .card-title
            {
                font-size: 18px;
            }
        }
        .card-header.collapsed {
            &:after {
                content: "\f067";
            }
        }
    }
    
}
.haveYouCallUs
{
    .blueBG
    {
        background-color: $blueColor;
        padding-top:20px;
        padding-bottom:20px;
        height: 200px;
    }
    h4
    {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        text-align: center;
        color:$blueColor;
        margin-top:50px;
        margin-bottom:50px;
    }
    h5
    {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        text-align: center;
        color:#fff;
        margin-top:20px;
        margin-bottom:40px;
    }
    input[type='text']
    {
        &::-webkit-input-placeholder {
            color: #000000;
            font-weight: bold;
            font-size: 13px;
        }
        &::-moz-placeholder {
            color: #000000;
            font-weight: bold;
            font-size: 13px;
        }
        &:-ms-input-placeholder {
            color: #000000;
            font-weight: bold;
            font-size: 13px;
        }
    }
    .btn
    {
        background-color:$cyanColor;
        height:auto;    
        color:#fff;
        border-radius:5px;
        text-transform: uppercase;
        width:300px;
    }
}

.footerLg
{
    height: 60px;
    background-color:$cyanColor;
    margin-top:70px;
    line-height: 60px;
    
    h6
    {
        color:#fff;
        font-size:14px;
        line-height: 50px;
    }
    ul 
    {
        display: inline;
        
        li
        {
            list-style-type:none;
            display: inline;
            a
            {
                color:#fff;
                font-size:14px;
                padding-left:5%;
                padding-right:5%;
                text-transform: uppercase;
            }
        }
    }
}
.footerSm
{
    display: none;
}

// Pop Up
.step1
{
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        text-align: center;
        color:$blueColor;
        margin-top:50px;
        margin-bottom:10px;
    }
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .iconArea
    {
        width:100%;
        height:auto;
        background-color:#fff;
        border-radius: 10px;
        padding-bottom:20px;
        border:2px solid #fff;
        transition: 0.5s;
        img
        {
            display: block;
            margin: auto;
            text-align: center;
            padding-top:50px;
        }
        h4
        {
           
            font-size: 20px;
            text-align: center;
            color:$pinkColor;
            margin-top:20px;
            margin-bottom:10px;
        }
        p
        {
            
            font-size: 14px;
            text-align: center;
            color:#1F2A55;
            margin-top:10px;
            margin-bottom:10px;
        }
        
        &:hover
        {
            border:2px solid #1C93E6;
            transition: 0.5s;
            cursor: pointer;
        }
    }
}
.step2
{
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        text-align: center;
        color:$blueColor;
        margin-top:50px;
        margin-bottom:10px;
    }
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .iconArea
    {
        width:100%;
        height:auto;
        background-color:#fff;
        border-radius: 10px;
        padding-bottom:20px;
        border:2px solid #fff;
        transition: 0.5s;
        img
        {
            display: block;
            margin: auto;
            text-align: center;
            padding-top:50px;
        }
        h4
        {
           
            font-size: 20px;
            text-align: center;
            color:$pinkColor;
            margin-top:20px;
            margin-bottom:10px;
        }
        
        &:hover
        {
            border:2px solid #1C93E6;
            transition: 0.5s;
            cursor: pointer;
        }
    }
    .memberDetails
    {
        
        .detailsHead
        {
            font-size: 18px;
            text-align: left;
            color:#576370;
            margin-top:70px;
            margin-bottom:10px;
            font-weight: 600;
        }   
        .secPara
        {
            font-size: 12px;
            text-align: left;
            color:#0B2338;
            margin-top:20px;
            margin-bottom:0px;
            sup
            {
                color:$pinkColor;
                font-size:14px;
            }
        }
        .memberCount
        {
            font-size: 15px;
            text-align: left;
            color:#000000;
            margin-top:30px;
            margin-bottom:10px;
            font-weight: 600;
        }
        label
        {
            color:#0B2338;
            font-size:12px;
            font-weight: bold;
            sup
            {
                color:$pinkColor;
                font-size:14px;
            }
        }
        input[type='radio']
        {
            margin-right:10px;
            margin-top:15px;
        }
        .addNewMember
        {
            margin-top:30px;    
            color:$pinkColor;
            .fas
            {
                color:$pinkColor;
                font-size: 30px;
                margin-right:10px;
            }
            strong
            {
                font-size: 14px;
            }
        }
        .cancelBtn
        {
            border:1px solid #233774;
            background-color: transparent;
            color:#233774;
            width:150px;
            font-size: 12px;
            margin-right:10px;
        }
        .ContinueBtn
        {
            border:1px solid #233774;
            background-color: #233774;
            color:#fff;
            width:150px;
            font-size: 12px;
            margin-left:10px;
        }
    }
    

}

.step3
{
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        text-align: center;
        color:$blueColor;
        margin-top:50px;
        margin-bottom:10px;
    }
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    }
    .memberDetails
    {
        .detailsHead
        {
            font-size: 18px;
            text-align: left;
            color:#576370;
            margin-top:30px;
            margin-bottom:30px;
            font-weight: 600;
        }   
        .memberCount
        {
            font-size: 15px;
            text-align: left;
            color:#000000;
            margin-top:30px;
            margin-bottom:10px;
            font-weight: 600;
        }
        label
        {
            color:#0B2338;
            font-size:12px;
            font-weight: bold;
            margin-top:7px;
            sup
            {
                color:$pinkColor;
                font-size:14px;
            }
        }
        p
        {
            color:#0B2338;
            font-size: 10px;
            margin-top:10px;
        }
        .getMyQuotes
        {
            border:1px solid #233774;
            background-color: #233774;
            color:#fff;
            width:150px;
            font-size: 12px;
           
            display:block;
            margin:auto;
            margin-top:30px;
        }
}


@media screen and (max-width:768px)
{
.bannerBg
{
    background-image: url('/img/Image\ 16Small.png');
    min-height: 220px;
    height: auto;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    h1
    {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        text-align: left;
        color:#000;
        text-transform: uppercase;
        padding-top:5%;
        span
        {
            color:$pinkColor;
        }
    }
    .btn
    {
        background-color:$pinkColor;
        height:auto;
        line-height: 20px;
        color:#fff;
        width:200px;
        border-radius:10px;
        text-transform: uppercase;
        font-size: 14px;
    }
    p
    {
        font-size:10px;
        color:#233772;
    }
    .owl-theme {
        .owl-dots {
            .owl-dot {
                span {
                    width: 15px;
                    height: 15px;
                    margin: 5px 7px;
                    background: transparent;
                    border:1px solid $pinkColor;
                    display: block;
                    -webkit-backface-visibility: visible;
                    transition: opacity 200ms ease;
                    border-radius: 30px;
                }
            }
        }
    }
}
.ourWorkingProcess
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .outerCircl
    {
        background-color: #d2e9fa;
        width:150px;
        height: 150px;  
        border-radius: 100px;
        margin:auto;
        .innerCircle
        {
            background-color: $blueColor;  
            width:110px;
            height: 110px;  
            border-radius: 100px;
            .fas
            {
                color:#fff;
                font-size:40px;
            }
        }
    }
    h4
    {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:20px;
        font-weight: 600;
    }
    p
    {
        
        font-size: 14px;
        text-align: center;
        margin-top:10px;
    }
}
.AllYouNeed
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .GreenArea
    {
        background-color: $cyanColor;
        padding:0px;
        .row
        {
            padding:0px;
            .col-lg-5
            {
                padding: 0px;
            }
        }
        h3
        {
            font-family: 'Poppins', sans-serif;
            font-size: 23px;
            text-align: left;
            color:#fff;
            text-transform: uppercase;
            margin-top:20px;
            font-weight: 600;
        }
        p
        {
            
            font-size: 20px;
            text-align: justify;
            margin-top:10px;
            color: #fff;
        }
    }
}
.ourTrustedPartners
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .obj
    {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #0000001A;
        border-radius: 5px;
        opacity: 1;
        width:200px;
        height: 150px;
        display: block;
        margin:auto;
        img
        {
            width:50%;
            display: block;
            margin:auto;
            margin-top:30px;
        }
    }
    .owl-carousel
    {
        .owl-prev,
        .owl-next 
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width:25px;
            height: 25px;
        }
        .owl-prev
        {
            left: -2rem;
        }
        .owl-next 
        {
            right: -2rem;
        }
        
    }
    .owl-carousel {
        .owl-nav {
            button.owl-prev {
                background: transparent;
                border:1px solid $pinkColor;
                color: $pinkColor;
                border-radius:100px;
                display: none;
            }
            button.owl-next {
                background: transparent;
                border:1px solid $pinkColor;
                color: $pinkColor;
                border-radius:100px;
                display: none;
                span
                {
                    
                }
            }
        }
        button.owl-dot {
            background: transparent;
            border:1px solid $pinkColor;
            color: $pinkColor;
            border-radius:100px;
            display: none;
        }
    }
    
}
.TrendingPlans
{
    .hrProgress
    {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2
    {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: center;
        color:$blueColor;
        text-transform: uppercase;
        margin-top:50px;
    }
    .blueBG
    {
        background-color: $blueColor;
        padding-top:20px;
        padding-bottom:20px;
        .contentArea
        {
            width:100%;
            min-height:230px;
            height:auto;
            background-color: #fff;
            border-radius:10px;
            margin:auto;
            .imgArea
            {
                width:40%;
                float:left;
                min-height:230px;
                height:auto;
                img
                {       
                    margin-top:40%;
                    width:70%;
                    margin-left:20px;
                }
            }
            strong
            {
                text-align: left;
                font-size:11px;
                letter-spacing: 0px;
                color: #1C93E6;
                text-transform: uppercase;
                display: block;
                padding-top:40px;
            }
            p
            {
                text-align: left;
                font-size:12px;
                color: #000000;
            }
            .btn1
            {
                background-color:$cyanColor;
                height:auto;    
                color:#fff;
                border-radius:5px;
                text-transform: uppercase;
                font-size: 12px;
                position: absolute;
                right:10px;
                bottom:10px;
                &:hover
                {
                    background-color:transparent;
                    height:auto;    
                    color:$cyanColor;
                    border:1px solid $cyanColor;
                }
            }
            .btn2
            {
                background-color:$pinkColor;
                height:auto;    
                color:#fff;
                border-radius:0px 5px 0px 5px;
                text-transform: uppercase;
                font-size: 12px;
                position: absolute;
                right:0px;
                top:0px;
            }
        }
    }
    
}
.haveYouCallUs
{
    .blueBG
    {
        background-color: $blueColor;
        padding-top:20px;
        padding-bottom:20px;
        height: auto;
    }
    h4
    {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        text-align: center;
        color:$blueColor;
        margin-top:50px;
        margin-bottom:50px;
        padding-left:20px;
        padding-right :20px;
        font-weight: bold;

    }
    h5
    {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        text-align: center;
        color:#fff;
        margin-top:20px;
        margin-bottom:40px;
    }
    input[type='text']
    {
        margin-bottom: 15px;    
        &::-webkit-input-placeholder {
            color: #000000;
            font-weight: bold;
            font-size: 13px;
        }
        &::-moz-placeholder {
            color: #000000;
            font-weight: bold;
            font-size: 13px;
        }
        &:-ms-input-placeholder {
            color: #000000;
            font-weight: bold;
            font-size: 13px;
        }
    }
    .btn
    {
        background-color:$cyanColor;
        height:auto;    
        color:#fff;
        border-radius:5px;
        text-transform: uppercase;
        width:200px;
        display: block;
        margin:auto;
    }
}
.footerLg
{
    display: none;
}
.footerSm
{
    display: block;
    img
    {
        margin-top:10px;
        margin-bottom:10px;
    }
    p
    {
        color:#aeaeae;
    }
    ul
    {
       padding-left:0px;
        li
        {
            display: inline;
            list-style-type: circle;
            a
            {
                font-size:13px;
                color:#aeaeae;
            }
        }
    }
    strong
    {
        font-size: 10px;
        margin-right:50px;
    }
    .btn
    {
        width:100%;
        height:auto;
        background-color: $pinkColor;
        color:#fff;
        font-size: 12px;
        margin-left:15px;
        margin-right:15px;
        margin-top:10px;
        margin-bottom:10px;
    }
}
// Pop UP
.step1
{
    .iconArea
    {
        margin-bottom:20px;
    }
}
.step2
{
    .iconArea
    {
        margin-bottom:20px;
    }
    label
    {
        margin-top:15px;
    }
}



// Media Close
}